/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    box-shadow: 0px 0px 41px -3px;
}

/* Float the list items side by side */
ul.topnav li {display: inline-block;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li select {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    transition: 0.3s;
    color: #f2f2f2;
}

ul.topnav select option:hover{
    background-color: #111;
/*    border: none;
    text-align: center;
    font-size: 17px;
    color: white;*/
}
/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #111;}
ul.topnav li:hover {background-color: #111;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*My CSS Starts NOW*/
.coverPage {
  /*background-repeat: no-repeat;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-attachment: fixed;
}
#navigation-wrapper {
  text-align:center;
}

.ghost-button {
    color: #fff;
    border: 2px solid #fafafa;
    border-radius: 4px;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    min-width: 120px;
    font-weight: 400px;
    display: inline-block;
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    transition: background-color .5s linear;
}

.ghost-button:hover, .ghost-button:active {
  color:#fff;
  background-color:rgba(0, 150, 136, 0.4);
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    color:white;
    width:20%;
    padding-top: 15px;
    padding-bottom: 15px;
}
* {
    box-sizing: border-box;
}

/*Making my own grid*/
.col-20 {
  width: 20%;
}
.col-25 {
  width: 25%;
}
.col-33 {
  width: 33.33%;
}
.col-50 {
  width: 50%;
}
.col-100 {
  width:100%;
}

/*Float-left for all the columns of the grid*/
div[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container:before, .container:after {
  display: table;
  content: " ";
}

.item-thumbnail {
  width:100%;
}
.thumbnail-caption {
  width:100%;
  text-align: left;
  padding-top: 15px;
}
.item-price {
  width:100%;
  text-align: left;
  color:red;
  font-weight: bold;
}
.rating-static {
  width: 60px;
  height: 16px;
  display: block;
  background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
}
.rating-50 { background-position: 0 0; }
.rating-40 { background-position: -12px 0; } 
.rating-30 { background-position: -24px 0; }
.rating-20 { background-position: -36px 0; }
.rating-10 { background-position: -48px 0; }
.rating-0 { background-position: -60px 0; }
 
.rating-5  { background-position: -48px -16px; }
.rating-15 { background-position: -36px -16px; }
.rating-25 { background-position: -24px -16px; }
.rating-35 { background-position: -12px -16px; }
.rating-45 { background-position: 0 -16px; }

.footer-icon {
  color:grey;
  font-size:18px;
  text-align: left;
}

.new-tag {
  background-color: green;
  color:white;
  text-align: center;
  padding-top: 4px;
  padding-bottom:10px;
  width:50px;
  height: 25px;
  position: absolute;
}
.row-heading {
  font-size:25px;
  text-align: left;
  font-weight: bold;
  color:black;
  font-family: 'Times New Roman';
  padding-top: 15px;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.category-divider {
  text-align:left; /*Remove this, then make horizontal-bar into category-divider*/
  width:100px;
}
.horizantal-bar {
  border:1px solid black;
  margin-bottom: 30px;
}
.thumbnail-divider {
  border:1px solid grey;
  width:100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.row-arrows {
  font-size: 38px;
  color: gray;
}