/* ========================
Karan Hudia
No copyright
written for -learning to code responsive page without any frontend frameworks

swatch colors
==========


======================== */

/*Overriding default properties*/
option {
  padding: 0;
}
.info-top-nav {
  position: relative;
}
.brand-logo-nav {
  position: relative;
  box-shadow: 0px 1px 1px #000 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  background-color: rgb(33, 33 ,33) !important;
}
.menu-item-nav {
  position: relative;
  box-shadow:0px 1px 1px rgb(54,54,54) !important;
}
/* Remove margins and padding from the list */
ul.info-top-nav,
ul.brand-logo-nav,
ul.menu-item-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
    box-shadow: 0px 2px 3px #000;
}

/* Float the list items side by side */
ul.info-top-nav li,
ul.brand-logo-nav li,
ul.menu-item-nav li {
  display: inline-block;
}

/* Style the links inside the list items */
ul.brand-logo-nav li select {
    display: inline-block;
    color: rgb(224,224,224);
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    background-color: transparent;
    border: none;
}
ul.info-top-nav li a,
ul.menu-item-nav li select,
ul.menu-item-nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    background-color: transparent;
    border: none;
}

/* Change background color of links on hover */
ul.menu-item-nav li:hover,
ul.menu-item-nav li select:hover,
ul.menu-item-nav li a:hover {
  color: rgb(219,56,56);
}

/* Hide the list item that contains the link that should open and close the menu-item-nav on small screens */
ul.menu-item-nav li.icon {
  display: none;
}
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the menu-item-nav (li.icon) */
@media screen and (max-width:986px) {
  ul.menu-item-nav li:not(:first-child) {display: none;}
  ul.menu-item-nav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the menu-item-nav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:986px) {
  ul.menu-item-nav.responsive {position: relative;}
  ul.menu-item-nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.menu-item-nav.responsive li {
    float: none;
    display: inline;
  }
  ul.menu-item-nav.responsive li a,
  ul.menu-item-nav.responsive li select{
    display: block;
    text-align: left;
  }
  ul.menu-item-nav.responsive li select {
    padding-left: 13px;
  }
}
.light-theme-border {
  border: 1px solid rgb(54,54,54);
}
.search-input-field {
  background-color: rgb(33, 33 ,33);
  border: none;
  color: white; 
  height: 50px;
  padding-left: 5px;
}
.search-input-button {
  background-color: rgb(72, 72 ,72); 
  border: none;
  color: white;
  height: 50px;
  width: 50px;
  margin-left: -5px; 
}

#homepage {
  margin: 0px;
  font-family: 'Times New Roman';
}

.background-wrapper {
  position: relative;
}
.image-inside-div{
  width: 100%;
}

.ghost-button {
  color: #fff;
  border: 2px solid #fafafa;
  border-radius: 4px;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  min-width: 120px;
  font-weight: 400px;
  display: inline-block;
  -webkit-transition: background-color .5s linear;
  -moz-transition: background-color .5s linear;
  -ms-transition: background-color .5s linear;
  -o-transition: background-color .5s linear;
  transition: background-color .5s linear;
}

.ghost-button:hover, .ghost-button:active {
  color:#fff;
  background-color:rgba(0, 150, 136, 0.4);
}

table {
  width:100%;
  border-collapse: collapse;
  color: white;
}
td {
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 1px solid rgb(54,54,54);
}

.brand-logo {
  height: 48px;
  width: auto;
}
.image-responsive {
  width: 100%;
/*  padding-top: 15px;
  padding-bottom: 15px;*/
}
.item-price {
  color:red;
  font-weight: bold;
}
.item-price::before {
    content:"$";
}
.footer-icon {
  color:grey;
  font-size:36px;
  text-align: left;
}
.classification-tags {
  position: absolute;
}
.new-tag {
  background-color: rgb(70,200,159);
  color:white;
  text-align: center;
  padding-top: 4px;
  padding-bottom:10px;
  width:50px;
  height: 25px;
  position: relative;
  margin-bottom: 5px;
}
.sale-tag {
  background-color: rgb(0,116,189);
  color:white;
  text-align: center;
  padding-top: 4px;
  padding-bottom:10px;
  width:50px;
  height: 25px;
  position: relative;
  margin-bottom: 5px;
}
.row-heading {
  font-size:25px;
  text-align: left;
  font-weight: bold;
  color:black;
  font-family: 'Times New Roman';
  padding-top: 15px;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.horizantal-bar {
  border:1px solid black;
  margin-bottom: 30px;
  width:110px;
  display: inline-block;
}
.thumbnail-divider {
  margin-top: 15px;
  margin-bottom: 15px;
}

.row-arrows {
  font-size: 38px;
}
.equal-horizontal-padding {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.no-horizontal-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.shoppingButton {
  height: 50px;
  background-color: rgb(219,56,56);
  border: none;
  color: white;
  font-weight: bold;
}
.horz-bar-across-list {
  border:1px solid rgb(229,229,229);
}
.horz-bar-across-page {
  border:1px solid rgb(229,229,229);
  margin-top: 50px;
  margin-bottom: 50px;
}
.brand-name-footer {
  font-size: 50px;
  color: rgb(84,84,84);
}
.footer-list {
  list-style-type: none;
  color: grey;
  padding-left: 0px;
  font-size: 18px;
}
ul.footer-list li:before { content: "-" }

@media only screen and (max-width: 1260px)  {
  .hide-small {
    display: none !important;
  }
}

.slider-arrows {
  vertical-align: text-bottom;
  color: gray;
}
.accent-color {
  color: lightgray;
}
.primary-color {
  color: grey;
}
.text-block {
  text-align: justify;
  color: grey;
}
.a-link {
  text-decoration: underline; 
  font-weight: bold;
  color: rgb(84,84,84);
}
.list-headings {
  font-weight: bold;
  color: rgb(84,84,84);
}
.list-item-box {
  padding-top: 15px;
  padding-bottom: 15px;
}